# DATABASE ENVIRONMENT
POSTGRES_DB=docsx
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

# BACKEND ENVIRONMENT
RUST_LOG=debug,actix_web=info
DATABASE_URL=postgresql://admin:password@db:5432/docsx
ALLOWED_ORIGIN=http://localhost:3000,http://example.com:3000 # put here your frontend url
CLERK_ISSUER=YOUR_CLERK_ISSUER

# FRONTEND ENVIRONMENT
NODE_ENV="development" // for production put 'production' else 'development'
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api # Backend api url
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY_HERE
GOOGLE_GENERATIVE_AI_API_KEY=YOUR_GOOGLE_GENERATIVE_AI_API_KEY_HERE

# SHARED ENVIRONMENT
CLERK_API_KEY=YOUR_CLERK_API_KEY_HERE
