# BACKEND ENVIRONMENT
RUST_LOG=debug,actix_web=info
DATABASE_URL=postgresql://admin:password@db:5432/docsx
ALLOWED_ORIGIN=http://localhost:3000,http://example.com:3000 # put here your frontend url
CLERK_ISSUER=your_clery_issuer_
